.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: #212529;
  background-color: #f5df4e;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; }

div.aboutContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #f8f9fa; }
  div.aboutContainer > div.aboutBody {
    width: 100%;
    display: flex;
    flex-direction: column; }
    div.aboutContainer > div.aboutBody > div.aboutBodyTop {
      display: flex;
      align-items: flex-start;
      gap: 100px;
      padding-right: 50px; }
      div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo {
        font-family: Poppins;
        display: flex;
        flex-direction: column;
        gap: 20px; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > span {
          margin: 0 auto;
          position: relative;
          font-size: 120px;
          color: #4c4d4d;
          line-height: 1;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          content: "";
          background-color: #f5df4e;
          font-family: inherit; }
          div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > span > i {
            left: -100%;
            position: absolute;
            font-style: normal;
            font-family: inherit; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > p {
          color: #212529;
          text-align: center;
          font-size: 28px;
          text-transform: capitalize; }
      div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText {
        color: #212529; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > h2 {
          font-size: 24px;
          font-weight: 500;
          font-family: Poppins;
          line-height: 2; }
          div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > h2 > strong {
            font-family: inherit; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > p {
          font-size: 18px;
          font-weight: 600;
          line-height: 2; }
    div.aboutContainer > div.aboutBody > div.aboutItems {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: space-between; }
      div.aboutContainer > div.aboutBody > div.aboutItems > div {
        font-size: 18px;
        font-family: Poppins;
        flex-grow: 1; }
        div.aboutContainer > div.aboutBody > div.aboutItems > div > h4 {
          font-weight: 500;
          color: #6c757d;
          margin-bottom: 8px; }
          div.aboutContainer > div.aboutBody > div.aboutItems > div > h4 ~ * {
            color: #4c4d4d;
            font-weight: 600; }

@media (max-width: 992px) {
  div.aboutBodyTop {
    flex-direction: column-reverse;
    gap: 30px !important;
    padding: 0 !important; }
    div.aboutBodyTop > div.aboutLogo > span {
      font-size: 90px !important;
      width: 80px !important;
      height: 80px !important; }

  div.aboutItems {
    flex-wrap: wrap;
    row-gap: 20px; }
    div.aboutItems > div {
      width: 50%; } }
@media (max-width: 576px) {
  div.aboutBodyTop > div.aboutLogo {
    align-items: flex-start; }
    div.aboutBodyTop > div.aboutLogo > span {
      display: block;
      padding-bottom: 8px;
      font-size: 70px !important;
      background: unset !important;
      width: max-content !important;
      height: max-content !important; }
      div.aboutBodyTop > div.aboutLogo > span::after {
        content: "";
        width: 60%;
        height: 3px;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #deb887;
        position: absolute; }
      div.aboutBodyTop > div.aboutLogo > span::before {
        content: "";
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #deb887;
        position: absolute; }
      div.aboutBodyTop > div.aboutLogo > span > i {
        position: static !important;
        line-height: 1 !important; }
    div.aboutBodyTop > div.aboutLogo > p {
      font-size: 22px !important; }

  div.aboutItems > div {
    width: 100%; }

  div.aboutText > H2 {
    font-size: 20px !important; }
  div.aboutText > p {
    font-size: 16px !important; }

  div.aboutItems {
    font-size: 16px !important; } }

/*# sourceMappingURL=about.css.map */
