@import url(./default.css);
@import url(./home.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./cs.css);
@import url(./faq.css);
@import url(./portfolio.css);
@import url(./resume.css);
@import url(./wid.css);
@import url(./footer.css);
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: #212529;
  background-color: #f5df4e;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }

html,
body {
  height: 100% !important; }

div.sectoinHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  text-align: center; }
  div.sectoinHeader > span {
    background-color: #f5df4e;
    color: #212529;
    padding: 0.25rem 0.5rem;
    font-weight: 600; }
  div.sectoinHeader > h2 {
    color: #212529;
    font-size: 40px;
    font-weight: 900;
    font-family: Poppins; }

.translateX-0 {
  transform: translateX(calc(-0* 100%)); }

.translateX-1 {
  transform: translateX(calc(-1* 100%)); }

.translateX-2 {
  transform: translateX(calc(-2* 100%)); }

.translateX-3 {
  transform: translateX(calc(-3* 100%)); }

.translateX-4 {
  transform: translateX(calc(-4* 100%)); }

.translateX-5 {
  transform: translateX(calc(-5* 100%)); }

.translateX-6 {
  transform: translateX(calc(-6* 100%)); }

.translateX-7 {
  transform: translateX(calc(-7* 100%)); }

.translateX-8 {
  transform: translateX(calc(-8* 100%)); }

.translateX-9 {
  transform: translateX(calc(-9* 100%)); }

.translateX-10 {
  transform: translateX(calc(-10* 100%)); }

.translateX-11 {
  transform: translateX(calc(-11* 100%)); }

.translateX-12 {
  transform: translateX(calc(-12* 100%)); }

.translateX-13 {
  transform: translateX(calc(-13* 100%)); }

.translateX-14 {
  transform: translateX(calc(-14* 100%)); }

.translateX-15 {
  transform: translateX(calc(-15* 100%)); }

.translateX-16 {
  transform: translateX(calc(-16* 100%)); }

.translateX-17 {
  transform: translateX(calc(-17* 100%)); }

.translateX-18 {
  transform: translateX(calc(-18* 100%)); }

.translateX-19 {
  transform: translateX(calc(-19* 100%)); }

.translateX-20 {
  transform: translateX(calc(-20* 100%)); }

.translateX-21 {
  transform: translateX(calc(-21* 100%)); }

.translateX-22 {
  transform: translateX(calc(-22* 100%)); }

.translateX-23 {
  transform: translateX(calc(-23* 100%)); }

.translateX-24 {
  transform: translateX(calc(-24* 100%)); }

.translateX-25 {
  transform: translateX(calc(-25* 100%)); }

.translateX-26 {
  transform: translateX(calc(-26* 100%)); }

.translateX-27 {
  transform: translateX(calc(-27* 100%)); }

.translateX-28 {
  transform: translateX(calc(-28* 100%)); }

.translateX-29 {
  transform: translateX(calc(-29* 100%)); }

.translateX-30 {
  transform: translateX(calc(-30* 100%)); }

.translateX-31 {
  transform: translateX(calc(-31* 100%)); }

.translateX-32 {
  transform: translateX(calc(-32* 100%)); }

.translateX-33 {
  transform: translateX(calc(-33* 100%)); }

.translateX-34 {
  transform: translateX(calc(-34* 100%)); }

.translateX-35 {
  transform: translateX(calc(-35* 100%)); }

.translateX-36 {
  transform: translateX(calc(-36* 100%)); }

.translateX-37 {
  transform: translateX(calc(-37* 100%)); }

.translateX-38 {
  transform: translateX(calc(-38* 100%)); }

.translateX-39 {
  transform: translateX(calc(-39* 100%)); }

.translateX-40 {
  transform: translateX(calc(-40* 100%)); }

.translateX-41 {
  transform: translateX(calc(-41* 100%)); }

.translateX-42 {
  transform: translateX(calc(-42* 100%)); }

.translateX-43 {
  transform: translateX(calc(-43* 100%)); }

.translateX-44 {
  transform: translateX(calc(-44* 100%)); }

.translateX-45 {
  transform: translateX(calc(-45* 100%)); }

.translateX-46 {
  transform: translateX(calc(-46* 100%)); }

.translateX-47 {
  transform: translateX(calc(-47* 100%)); }

.translateX-48 {
  transform: translateX(calc(-48* 100%)); }

.translateX-49 {
  transform: translateX(calc(-49* 100%)); }

.translateX-50 {
  transform: translateX(calc(-50* 100%)); }

.fadeInBottom {
  animation: fadeInBottom 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important; }

.fadeInRight {
  animation: fadeInRight 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important; }

.fadeInLeft {
  animation: fadeInLeft 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important; }

.fadeBottom,
.fadeRight,
.fadeLeft {
  opacity: 0; }

@media (max-width: 992px) {
  div.container,
  div.footer,
  div.menuTop {
    padding-left: 50px !important;
    padding-right: 50px !important; }

  div.container:nth-child(1) {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (max-width: 768px) {
  div.container,
  div.footer,
  div.menuTop {
    padding-left: 25px !important;
    padding-right: 25px !important; }

  div.container:nth-child(1) {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
@media (max-width: 992px) {
  div.sectoinHeader > h2 {
    font-size: 32px; } }
@media (max-width: 576px) {
  div.container,
  div.footer,
  div.menuTop {
    padding-left: 10px !important;
    padding-right: 10px !important; }

  div.container:nth-child(1) {
    padding-left: 0 !important;
    padding-right: 0 !important; }

  div.sectoinHeader > h2 {
    font-size: 24px;
    max-width: 80%; } }

/*# sourceMappingURL=main.css.map */
