@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-VariableFont_wght.woff); }
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins.woff); }
@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.button, div.introContainer > div.infoBody > a, div.resumeContainer > div.resumeBody > div.resumeBodyBottom > a {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: #212529;
  background-color: #f5df4e;
  font-size: 18px;
  font-weight: 600; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }

div.introContainer {
  width: 100%;
  height: 100vh; }
  div.introContainer > div.introBg {
    width: inherit;
    height: inherit;
    background: url(../media/intro-bg.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  div.introContainer > div.menuTop {
    width: 100%;
    height: 65px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.25s ease; }
    div.introContainer > div.menuTop.menuTopBlur {
      backdrop-filter: blur(20px);
      background-color: #0000007c; }
    div.introContainer > div.menuTop > nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%; }
      div.introContainer > div.menuTop > nav > h1 {
        font-size: 28px;
        font-weight: 900;
        color: #dee3e4; }
      div.introContainer > div.menuTop > nav > div.menuContainer {
        width: max-content;
        column-gap: 20px;
        display: flex;
        align-items: center;
        margin-right: 50px; }
        div.introContainer > div.menuTop > nav > div.menuContainer > a {
          color: #dee3e4;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600; }
        div.introContainer > div.menuTop > nav > div.menuContainer > div.menuBtn {
          width: 25px;
          height: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          cursor: pointer;
          transition: all 0.25s ease;
          position: relative;
          z-index: 1000; }
          div.introContainer > div.menuTop > nav > div.menuContainer > div.menuBtn > span {
            width: 100%;
            height: 2px;
            background-color: #dee3e4;
            transition: all 0.25s ease; }
            div.introContainer > div.menuTop > nav > div.menuContainer > div.menuBtn > span.menuBarsHide {
              opacity: 0; }
            div.introContainer > div.menuTop > nav > div.menuContainer > div.menuBtn > span.menuBars1 {
              transform: rotatez(45deg) translateY(-3px);
              transform-origin: left;
              opacity: 1 !important; }
            div.introContainer > div.menuTop > nav > div.menuContainer > div.menuBtn > span.menuBars2 {
              transform: rotatez(-45deg) translateY(2px);
              transform-origin: left;
              opacity: 1 !important; }
        div.introContainer > div.menuTop > nav > div.menuContainer > div.mmHidden {
          height: 0 !important;
          opacity: 0 !important; }
        div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu {
          position: fixed;
          height: 100vh;
          width: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.918);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 50px;
          overflow: hidden;
          transition: all 0.3s ease;
          z-index: 999;
          opacity: 1; }
          div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > ul {
            list-style: none;
            font-size: 24px;
            color: #dee3e4;
            gap: 0.75rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-weight: 600; }
            div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > ul > li {
              cursor: pointer;
              transition: all 0.15s ease;
              width: 100%;
              text-align: center; }
              div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > ul > li > a {
                text-decoration: none;
                color: #dee3e4;
                display: block; }
                div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > ul > li > a.menuActive {
                  color: #f5df4e !important; }
                div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > ul > li > a:hover {
                  color: #f5df4e; }
          div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > div.menuContact {
            display: flex;
            column-gap: 1.55rem;
            align-items: center; }
            div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > div.menuContact > a {
              font-size: 28px;
              color: #dee3e4;
              text-decoration: none;
              transition: all 0.15s ease; }
              div.introContainer > div.menuTop > nav > div.menuContainer > div.mainMenu > div.menuContact > a:hover {
                color: #f5df4e; }
  div.introContainer > div.infoBody {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dee3e4;
    background-color: rgba(10, 19, 27, 0.575);
    gap: 15px;
    position: relative; }
    div.introContainer > div.infoBody > h3 {
      font-weight: 800;
      font-size: 32px; }
    div.introContainer > div.infoBody > h2 {
      font-size: 60px;
      font-weight: 600;
      display: flex;
      align-items: center;
      font-family: Poppins; }
      div.introContainer > div.infoBody > h2 > p {
        text-transform: capitalize;
        font-family: inherit; }
      div.introContainer > div.infoBody > h2 > span {
        opacity: 1;
        font-family: inherit; }
        div.introContainer > div.infoBody > h2 > span.hiddenTypePointer {
          opacity: 0 !important; }
    div.introContainer > div.infoBody > h4 {
      font-size: 24px; }
    div.introContainer > div.infoBody > a {
      margin-top: 20px; }
    div.introContainer > div.infoBody > span {
      font-size: 24px;
      position: absolute;
      left: calc(50% - 9px);
      bottom: 10px;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      animation: fadeInTop 1s infinite ease; }

div.aboutContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #f8f9fa; }
  div.aboutContainer > div.aboutBody {
    width: 100%;
    display: flex;
    flex-direction: column; }
    div.aboutContainer > div.aboutBody > div.aboutBodyTop {
      display: flex;
      align-items: flex-start;
      gap: 100px;
      padding-right: 50px; }
      div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText {
        color: #212529; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > h2 {
          font-size: 24px;
          font-weight: 500;
          font-family: Poppins;
          line-height: 2; }
          div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > h2 > strong {
            font-family: inherit; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutText > p {
          font-size: 18px;
          font-weight: 600;
          line-height: 2; }
      div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo {
        font-family: Poppins;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > span {
          margin: 0 auto;
          position: relative;
          font-size: 120px;
          grid-row: 1;
          color: #4c4d4d;
          line-height: 1;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          content: "";
          background-color: #f5df4e;
          font-family: inherit; }
          div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > span > i {
            left: -100%;
            position: absolute;
            font-style: normal;
            font-family: inherit; }
        div.aboutContainer > div.aboutBody > div.aboutBodyTop > div.aboutLogo > p {
          grid-row: 2;
          color: #212529;
          text-align: center;
          font-size: 28px;
          text-transform: capitalize; }
    div.aboutContainer > div.aboutBody > div.aboutItems {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: space-between; }
      div.aboutContainer > div.aboutBody > div.aboutItems > div {
        font-size: 18px;
        font-family: Poppins;
        flex-grow: 1; }
        div.aboutContainer > div.aboutBody > div.aboutItems > div > h4 {
          font-weight: 500;
          color: #6c757d;
          margin-bottom: 8px; }
          div.aboutContainer > div.aboutBody > div.aboutItems > div > h4 ~ * {
            color: #4c4d4d;
            font-weight: 600; }

div.sectoinHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px; }
  div.sectoinHeader > span {
    background-color: #f5df4e;
    color: #212529;
    padding: 0.25rem 0.5rem;
    font-weight: 600; }
  div.sectoinHeader > h2 {
    color: #212529;
    font-size: 40px;
    font-weight: 900;
    font-family: Poppins; }

div.widContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  gap: 100px; }
  div.widContainer > div.widBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    align-items: stretch; }
    div.widContainer > div.widBody > div.widItem {
      width: calc(33.33% - 10px);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px 30px;
      border: 1px solid #6c757d;
      border-radius: 5px;
      color: #212529;
      transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1); }
      div.widContainer > div.widBody > div.widItem:hover {
        transform: scale(0.98);
        background-color: #d8d8d8; }
      div.widContainer > div.widBody > div.widItem > i {
        font-style: normal;
        font-size: 60px;
        color: #deb887;
        margin-bottom: 30px; }
      div.widContainer > div.widBody > div.widItem > h4 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: Poppins; }
      div.widContainer > div.widBody > div.widItem > p {
        font-size: 18px;
        line-height: 1.4; }

div.resumeContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  gap: 100px; }
  div.resumeContainer > div.resumeBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px; }
    div.resumeContainer > div.resumeBody > div.resumeBodyTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems {
        width: 45%;
        color: #212529; }
        div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems > h3 {
          font-family: Poppins;
          font-size: 24px;
          margin-bottom: 10px; }
        div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems > div {
          border-left: 2px solid #deb887;
          padding: 20px 0 0 10px; }
          div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems > div > h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 5px; }
          div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems > div > h5 {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 1.6; }
          div.resumeContainer > div.resumeBody > div.resumeBodyTop > div.rBTItems > div > p {
            font-size: 18px;
            padding-bottom: 20px;
            border-bottom: 1px solid #6c757d;
            line-height: 1.6; }
    div.resumeContainer > div.resumeBody > div.resumeBodyBottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #212529; }
      div.resumeContainer > div.resumeBody > div.resumeBodyBottom > h3 {
        font-size: 24px;
        font-family: Poppins; }
      div.resumeContainer > div.resumeBody > div.resumeBodyBottom div.skillsBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        font-family: Poppins; }
        div.resumeContainer > div.resumeBody > div.resumeBodyBottom div.skillsBar > div.skillItem {
          width: 45%;
          display: flex;
          flex-direction: column;
          gap: 10px; }
          div.resumeContainer > div.resumeBody > div.resumeBodyBottom div.skillsBar > div.skillItem > div.skillHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px; }
          div.resumeContainer > div.resumeBody > div.resumeBodyBottom div.skillsBar > div.skillItem > div.skillBar {
            width: 100%;
            display: flex;
            border-radius: 999px;
            height: 8px;
            background-color: #e9ecef;
            overflow: hidden; }
            div.resumeContainer > div.resumeBody > div.resumeBodyBottom div.skillsBar > div.skillItem > div.skillBar > span.skillProgress {
              width: 75%;
              background-color: #deb887;
              background-image: linear-gradient(-45deg, transparent 33%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.5) 66%, transparent 66%, transparent 100%);
              background-size: 16px; }
      div.resumeContainer > div.resumeBody > div.resumeBodyBottom > a {
        background-color: transparent;
        border: 1px solid #212529;
        width: max-content;
        margin: 30px auto 0 auto;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1); }
        div.resumeContainer > div.resumeBody > div.resumeBodyBottom > a:hover {
          color: #dee3e4;
          background-color: #212529; }

div.portfolioContainer {
  width: 100%;
  padding: 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; }
  div.portfolioContainer > div.portfolioBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    div.portfolioContainer > div.portfolioBody > div.portfolioBodyTop {
      width: 100%;
      gap: 50px; }
      div.portfolioContainer > div.portfolioBody > div.portfolioBodyTop > ul {
        justify-content: center;
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;
        font-weight: 500; }
        div.portfolioContainer > div.portfolioBody > div.portfolioBodyTop > ul > li {
          color: #212529;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          padding: 10px 0; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyTop > ul > li:hover {
            border-color: #f5df4e; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyTop > ul > li.portActive {
            font-weight: 600 !important;
            border-color: #f5df4e; }
    div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom {
      width: 100%;
      margin-top: 30px; }
      div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px; }
        div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li {
          display: flex;
          position: relative;
          width: calc(33.33% - 20px);
          overflow: hidden;
          cursor: pointer;
          text-align: center;
          transition: all 0.15s ease; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li.portfolioHide {
            opacity: 0 !important;
            transform: scale(0) !important; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li:hover img {
            filter: blur(2px);
            transform: scale(1.2); }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li:hover div.porfolioItemAbsolute {
            opacity: 1; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li > img {
            width: 100%;
            transition: all 0.25s ease;
            aspect-ratio: 1/1; }
          div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li > div.porfolioItemAbsolute {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 0.25s ease; }
            div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li > div.porfolioItemAbsolute > i {
              font-style: normal;
              font-size: 40px;
              color: #deb887; }
            div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li > div.porfolioItemAbsolute > h3 {
              margin-top: 15px;
              font-family: Poppins;
              font-size: 22px;
              color: #fff;
              font-weight: 500;
              line-height: 1; }
            div.portfolioContainer > div.portfolioBody > div.portfolioBodyBottom > ul > li > div.porfolioItemAbsolute > h4 {
              margin-top: 5px;
              line-height: 1;
              font-family: Poppins;
              font-weight: 500;
              font-size: 18px;
              color: #dee3e4; }

/*# sourceMappingURL=main.css.map */
