$main-font: Rubik;
$heading-font: Poppins;
$light: #dee3e4;
$darklight: #c8cdce;
$dark: #212529;
$verydark: #111418;
$dark-text: #4c4d4d;
$light-text: #6c757d;
$primary: #f5df4e;
$aboutBg: #f0f0f0;
$lightBg: #d8d8d8;
$widBg: #f8f9fa;
$lightLogo: #deb887;
$progressbg: #e9ecef;
$white: #fff;
$graybg: #939597;
$iconLightBg: #fafafa;

// button links
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: $dark;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

div.contactContainer {
  width: 100%;
  padding: 100px;
  background-color: $primary;
  color: $dark;

  > div.contactBody {
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;

    > div.contactBodyLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      > h2 {
        font-size: 40px;
        font-family: $heading-font;
      }

      > p {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
      }

      > div.contactTextContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          > h3 {
            font-size: 24px;
            font-family: $heading-font;
          }

          > a,
          span {
            font-size: 20px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            color: $dark;
            display: inline-block;
            width: max-content;
          }
        }
      }

      > div.contactIcons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;

        > a {
          display: block;
          text-decoration: none;
          color: $dark;
          font-size: 24px;
          transition: all 0.25s ease;

          &:hover {
            filter: drop-shadow(0 0 1px $dark);
            color: $primary;
          }
        }
      }
    }

    > div.contactBodyRight {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $dark;

      > h2 {
        font-size: 40px;
        margin-bottom: 30px;
        font-family: $heading-font;
      }

      > form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > label {
          font-size: 20px;
          font-weight: 700;
          margin-top: 10px;
        }

        > input {
          all: unset;
          padding: 0.5rem 1rem;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 18px;
          font-family: $heading-font;
          transition: all 0.25s ease;
        }

        > textarea {
          box-sizing: border-box;
          background-color: unset;
          border: unset;
          outline: unset;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          resize: vertical;
          margin-bottom: 10px;
          font-size: 18px;
          font-family: $heading-font;
          transition: all 0.25s ease;
        }

        > input:focus,
        textarea:focus {
          border-bottom: 1px solid $dark;
        }

        > input:valid,
        textarea:valid {
          border-bottom: 1px solid rgb(35, 158, 35);
        }

        > button {
          @extend .button;
          width: max-content;
          padding: 0.75rem 2.5rem;
          background-color: $dark;
          border: unset;
          color: $light;
          display: flex;
          gap: 10px;
          align-items: center;

          &:hover {
            background-color: $dark-text;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  div.contactBody {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    > div.contactBodyLeft {
      width: 90% !important;
      gap: 20px !important;

      > h2 {
        font-size: 32px !important;
      }
    }

    div.contactTextContainer {
      h3 {
        font-size: 20px !important;
      }
    }

    > div.contactBodyRight {
      width: 90% !important;
      gap: 10px !important;

      > h2 {
        font-size: 32px !important;
      }

      a,
      span {
        font-size: 18px !important;
      }
    }
  }
}
