@import url(./default.css);
@import url(./home.css);
@import url(./about.css);
@import url(./contact.css);
@import url(./cs.css);
@import url(./faq.css);
@import url(./portfolio.css);
@import url(./resume.css);
@import url(./wid.css);
@import url(./footer.css);

$main-font: Rubik;
$heading-font: Poppins;
$light: #dee3e4;
$darklight: #c8cdce;
$dark: #212529;
$verydark: #111418;
$dark-text: #4c4d4d;
$light-text: #6c757d;
$primary: #f5df4e;
$aboutBg: #f0f0f0;
$lightBg: #d8d8d8;
$widBg: #f8f9fa;
$lightLogo: #deb887;
$progressbg: #e9ecef;
$white: #fff;
$graybg: #939597;
$iconLightBg: #fafafa;

// button links
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: $dark;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

// main Code
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

// sections header
div.sectoinHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  text-align: center;

  > span {
    background-color: $primary;
    color: $dark;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
  }

  > h2 {
    color: $dark;
    font-size: 40px;
    font-weight: 900;
    font-family: $heading-font;
  }
}

$i: 0;
@while $i<=50 {
  .translateX-#{$i} {
    transform: translateX(calc(-#{$i}* 100%));
  }
  $i: $i + 1;
}

.fadeInBottom {
  animation: fadeInBottom 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important;
}

.fadeInRight {
  animation: fadeInRight 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important;
}

.fadeInLeft {
  animation: fadeInLeft 1s;
  animation-fill-mode: backwards;
  opacity: 1 !important;
}

.fadeBottom,
.fadeRight,
.fadeLeft {
  opacity: 0;
}

@media (max-width: 992px) {
  div.container,div.footer,div.menuTop {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  div.container:nth-child(1){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 768px) {
  div.container,div.footer,div.menuTop {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  div.container:nth-child(1){
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 992px) {
  div.sectoinHeader {
    > h2 {
      font-size: 32px;
    }
  }
}
