// fonts and variables

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-VariableFont_wght.woff);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins.woff);
}

$main-font: Rubik;
$heading-font: Poppins;
$light: #dee3e4;
$darklight: #c8cdce;
$dark: #212529;
$verydark: #111418;
$dark-text: #4c4d4d;
$light-text: #6c757d;
$primary: #f5df4e;
$aboutBg: #f0f0f0;
$lightBg: #d8d8d8;
$widBg: #f8f9fa;
$lightLogo: #deb887;
$progressbg: #e9ecef;
$white: #fff;
$graybg: #939597;
$iconLightBg: #fafafa;

// animations
@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// button links
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: $dark;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

// main Code

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

div.introContainer {
  width: 100%;
  height: 100vh;

  > div {
    &.introBg {
      width: inherit;
      height: inherit;
      background: url(../media/intro-bg.jpg) center no-repeat;
      background-attachment: fixed;
      background-size: cover;
      filter: brightness(0.7);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &.menuTop {
      width: 100%;
      height: 65px;
      padding: 0 100px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      transition: all 0.25s ease;

      &.menuTopBlur {
        backdrop-filter: blur(20px);
        background-color: #0000007c;
      }

      > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        > h1 {
          font-size: 28px;
          font-weight: 900;
          color: $light;
        }

        > div.menuContainer {
          width: max-content;
          column-gap: 20px;
          display: flex;
          align-items: center;
          margin-right: 50px;

          > a {
            color: $light;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;

            > i {
              transform: rotatey(180deg);
            }
          }

          > div.menuBtn {
            width: 25px;
            height: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            transition: all 0.25s ease;
            position: relative;
            z-index: 1000;

            > span {
              width: 100%;
              height: 2px;
              background-color: $light;
              transition: all 0.25s ease;

              &.menuBarsHide {
                opacity: 0;
              }

              &.menuBars1 {
                transform: rotatez(45deg) translateY(-3px);
                transform-origin: left;
                opacity: 1 !important;
              }
              &.menuBars2 {
                transform: rotatez(-45deg) translateY(2px);
                transform-origin: left;
                opacity: 1 !important;
              }
            }
          }

          > div.mmHidden {
            height: 0 !important;
            opacity: 0 !important;
          }

          > div.mainMenu {
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.918);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            overflow: hidden;
            transition: all 0.3s ease;
            z-index: 999;
            opacity: 1;

            > ul {
              list-style: none;
              font-size: 24px;
              color: $light;
              gap: 0.75rem;
              display: flex;
              align-items: center;
              flex-direction: column;
              font-weight: 600;

              > li {
                cursor: pointer;
                transition: all 0.15s ease;
                width: 100%;
                text-align: center;

                > div {
                  text-decoration: none;
                  color: $light;
                  display: block;

                  &.menuActive {
                    color: $primary !important;
                  }

                  &:hover {
                    color: $primary;
                  }
                }
              }
            }
            > div.menuContact {
              display: flex;
              column-gap: 1.55rem;
              align-items: center;

              > a {
                font-size: 28px;
                color: $light;
                text-decoration: none;
                transition: all 0.15s ease;

                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }

    &.infoBody {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $light;
      background-color: rgba(10, 19, 27, 0.575);
      gap: 15px;
      position: relative;

      > h3 {
        font-weight: 800;
        font-size: 32px;
      }

      > h2 {
        font-size: 60px;
        font-weight: 600;
        display: flex;
        align-items: center;
        font-family: $heading-font;

        > p {
          text-transform: capitalize;
          font-family: inherit;
        }

        > span {
          opacity: 1;
          font-family: inherit;

          &.hiddenTypePointer {
            opacity: 0 !important;
          }
        }
      }

      > h4 {
        font-size: 24px;
      }

      > a {
        @extend .button;
        margin-top: 20px;
      }

      > span {
        font-size: 24px;
        position: absolute;
        left: calc(50% - 9px);
        bottom: 10px;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        animation: fadeInTop 1s infinite ease;
      }
    }
  }
}

div.aboutContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: $widBg;

  > div.aboutBody {
    width: 100%;
    display: flex;
    flex-direction: column;

    > div.aboutBodyTop {
      display: flex;
      align-items: flex-start;
      gap: 100px;
      padding-right: 50px;

      > div.aboutText {
        color: $dark;

        > h2 {
          font-size: 24px;
          font-weight: 500;
          font-family: $heading-font;
          line-height: 2;

          > strong {
            font-family: inherit;
          }
        }

        > p {
          font-size: 18px;
          font-weight: 600;
          line-height: 2;
        }
      }

      > div.aboutLogo {
        font-family: $heading-font;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        > span {
          margin: 0 auto;
          position: relative;
          font-size: 120px;
          grid-row: 1;
          color: $dark-text;
          line-height: 1;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          content: "";
          background-color: $primary;
          font-family: inherit;

          > i {
            left: -100%;
            position: absolute;
            font-style: normal;
            font-family: inherit;
          }
        }

        > p {
          grid-row: 2;
          color: $dark;
          text-align: center;
          font-size: 28px;
          text-transform: capitalize;
        }
      }
    }
    > div.aboutItems {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;

      > div {
        font-size: 18px;
        font-family: $heading-font;
        flex-grow: 1;

        > h4 {
          font-weight: 500;
          color: $light-text;
          margin-bottom: 8px;

          ~ * {
            color: $dark-text;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// sections header
div.sectoinHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  > span {
    background-color: $primary;
    color: $dark;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
  }

  > h2 {
    color: $dark;
    font-size: 40px;
    font-weight: 900;
    font-family: $heading-font;
  }
}

div.widContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $aboutBg;
  gap: 100px;

  > div.widBody {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    align-items: stretch;

    > div.widItem {
      width: calc(33.33% - 10px);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px 30px;
      border: 1px solid $light-text;
      border-radius: 5px;
      color: $dark;
      transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        transform: scale(0.98);
        background-color: $lightBg;
      }

      > i {
        font-style: normal;
        font-size: 60px;
        color: $lightLogo;
        margin-bottom: 30px;
      }

      > h4 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        font-family: $heading-font;
      }

      > p {
        font-size: 18px;
        line-height: 1.4;
      }
    }
  }
}

div.resumeContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $widBg;
  gap: 100px;

  > div.resumeBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    > div.resumeBodyTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > div.rBTItems {
        width: 45%;
        color: $dark;

        > h3 {
          font-family: $heading-font;
          font-size: 24px;
          margin-bottom: 10px;
        }

        > div {
          border-left: 2px solid $lightLogo;
          padding: 20px 0 0 10px;

          > h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 5px;
          }

          > h5 {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 1.6;
          }

          > p {
            font-size: 18px;
            padding-bottom: 20px;
            border-bottom: 1px solid $light-text;
            line-height: 1.6;
          }
        }
      }
    }

    > div.resumeBodyBottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $dark;

      > h3 {
        font-size: 24px;
        font-family: $heading-font;
      }

      div.skillsBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        font-family: $heading-font;

        > div.skillItem {
          width: 45%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          > div.skillHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
          }

          > div.skillBar {
            width: 100%;
            display: flex;
            border-radius: 999px;
            height: 8px;
            background-color: $progressbg;
            overflow: hidden;

            > span.skillProgress {
              width: 75%;
              background-color: $lightLogo;
              background-image: linear-gradient(
                -45deg,
                transparent 33%,
                rgba(255, 255, 255, 0.5) 33%,
                rgba(255, 255, 255, 0.5) 66%,
                transparent 66%,
                transparent 100%
              );
              background-size: 16px;
            }
          }
        }
      }

      > a {
        @extend .button;
        background-color: transparent;
        border: 1px solid $dark;
        width: max-content;
        margin: 30px auto 0 auto;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

        &:hover {
          color: $light;
          background-color: $dark;
        }
      }
    }
  }
}

div.portfolioContainer {
  width: 100%;
  padding: 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  background-color: $aboutBg;

  > div.portfolioBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div.portfolioBodyTop {
      width: 100%;
      gap: 50px;

      > ul {
        justify-content: center;
        display: flex;
        align-items: center;
        list-style: none;
        font-weight: 600;

        > li {
          color: $dark-text;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          padding: 10px 10px;

          &:hover {
            border-color: $primary;
          }

          &.portActive {
            color: $dark;
            border-color: $primary;
          }
        }
      }
    }

    > div.portfolioBodyBottom {
      width: 100%;
      margin-top: 30px;

      > ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        > li {
          display: flex;
          position: relative;
          width: calc(33.33% - 30px);
          overflow: hidden;
          cursor: pointer;
          text-align: center;
          transition: all 0.15s ease;
          margin: 15px;

          &.portfolioHide {
            opacity: 0 !important;
            transform: scale(0) !important;
            width: 0 !important;
            margin: 0 !important;
          }

          &:hover img {
            filter: blur(2px);
            transform: scale(1.2);
          }

          &:hover div.porfolioItemAbsolute {
            opacity: 1;
          }

          > img {
            width: 100%;
            transition: all 0.25s ease;
            aspect-ratio: 1/1;
          }

          > div.porfolioItemAbsolute {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 0.25s ease;

            > i {
              font-style: normal;
              font-size: 40px;
              color: $lightLogo;
            }

            > h3 {
              margin-top: 15px;
              font-family: $heading-font;
              font-size: 22px;
              color: $white;
              font-weight: 500;
              line-height: 1;
            }

            > h4 {
              margin-top: 5px;
              line-height: 1;
              font-family: $heading-font;
              font-weight: 500;
              font-size: 18px;
              color: $light;
            }
          }
        }
      }
    }
  }
}

div.portfolioHire {
  width: 100%;
  position: relative;
  overflow: hidden;

  > img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(0.5);
  }

  > div.portfolioHContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 150px 100px;

    > h2 {
      font-size: 40px;
      font-family: $heading-font;
      color: $light;
    }

    > button {
      @extend .button;
      border: unset;
      transition: all 0.15s ease;
      &:hover {
        background-color: #b8a52f;
      }
    }
  }
}

div.faqContainer {
  width: 100%;
  padding: 100px;
  background-color: $widBg;

  > div.faqBody {
    display: flex;
    width: 100%;

    > div.faqLeft {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;

      > div.faqHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $dark;

        > span {
          padding: 4px 8px;
          background-color: $primary;
          width: max-content;
          text-transform: uppercase;
        }

        > h2 {
          font-size: 32px;
          font-family: $heading-font;
        }
      }

      > div.faqMore {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;

        > div.faqItem {
          user-select: none;
          width: 100%;
          padding: 20px 0 20px 10px;
          display: flex;
          flex-direction: column;
          position: relative;
          transition: all 0.15s ease;
          color: $light-text;
          cursor: pointer;

          &:nth-last-child(1) {
            &::after {
              display: none;
            }
          }

          &.faqActive {
            color: $dark;

            span {
              transform: rotate(180deg);
            }

            p {
              margin-top: 10px;
              height: max-content;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 80%;
            left: 40px;
            height: 1px;
            background-color: $light-text;
          }

          > div {
            display: flex;
            align-items: center;
            gap: 10px;
            color: inherit;
            transition: inherit;

            > span {
              transition: inherit;
              font-size: 16px;
            }

            > h3 {
              transition: inherit;
              font-size: 18px;
              font-family: $heading-font;
            }
          }

          > p {
            transition: all 0.15s linear;
            padding: 0 30px;
            color: $dark;
            font-weight: 500;
            overflow: hidden;
            height: 0;
          }
        }
      }
    }

    > div.faqRight {
      width: 50%;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      display: flex;
      transition: all 0.15s ease;
    }
  }
}

div.cSContainer {
  background-color: $graybg;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $widBg !important;
  }

  > div.swiperContainer {
    margin-top: 50px;
    width: 70%;
    display: flex;
    position: relative;
    transition: all 0.25s ease;

    &:hover div.sliderControl {
      opacity: 1;
    }

    * {
      transition: inherit;
    }

    > div.sliderContainer {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      > div.slidersContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        width: 100%;

        > div.slider {
          width: 100%;
          min-width: 100%;
          padding: 2rem;
          gap: 1rem;
          display: flex;
          flex-direction: column;
          flex: 1 1 100%;
          align-items: center;
          user-select: none;

          > q {
            letter-spacing: 1px;
            line-height: 1.6;
            font-size: 20px;
            color: $widBg;
            font-weight: 600;
            text-align: center;
          }

          > img {
            width: 65px;
            border-radius: 50%;
          }

          > h4 {
            font-weight: 500;
            font-family: $heading-font;
            font-size: 24px;
            color: $white;
          }

          > span {
            margin-top: -0.5rem;
            color: $widBg;
            font-family: $heading-font;
            font-size: 18px;
          }
        }
      }
    }

    > div.sliderControl {
      width: 100%;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translatey(-50%);
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      opacity: 0;

      > div {
        background-color: $iconLightBg;
        width: 40px;
        height: inherit;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    > div.pagination {
      display: flex;
      gap: 8px;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);

      > span {
        width: 10px;
        height: 10px;
        border-radius: 999px;
        background: $widBg;
        cursor: pointer;

        &.activePg {
          background-color: $primary !important;
          width: 20px !important;
        }
      }
    }
  }
}

$i: 0;
@while $i<=50 {
  .translateX-#{$i} {
    transform: translateX(calc(-#{$i}* 100%)) !important;
  }
  $i: $i + 1;
}

div.contactContainer {
  width: 100%;
  padding: 100px;
  background-color: $primary;
  color: $dark;

  > div.contactBody {
    width: 100%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;

    > div.contactBodyLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 50px;

      > h2 {
        font-size: 40px;
        font-family: $heading-font;
      }

      > p {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.6;
      }

      > div.contactTextContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          > h3 {
            font-size: 24px;
            font-family: $heading-font;
          }

          > a,
          span {
            font-size: 20px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            color: $dark;
            display: inline-block;
            width: max-content;
          }
        }
      }

      > div.contactIcons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;

        > a {
          display: block;
          text-decoration: none;
          color: $dark;
          font-size: 24px;
          transition: all 0.25s ease;

          &:hover {
            filter: drop-shadow(0 0 1px $dark);
            color: $primary;
          }
        }
      }
    }

    > div.contactBodyRight {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $dark;

      > h2 {
        font-size: 40px;
        margin-bottom: 30px;
        font-family: $heading-font;
      }

      > form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > label {
          font-size: 20px;
          font-weight: 700;
          margin-top: 10px;
        }

        > input {
          all: unset;
          padding: 0.5rem 1rem;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 18px;
          font-family: $heading-font;
          transition: all 0.25s ease;
        }

        > textarea {
          box-sizing: border-box;
          background-color: unset;
          border: unset;
          outline: unset;
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          resize: vertical;
          margin-bottom: 10px;
          font-size: 18px;
          font-family: $heading-font;
          transition: all 0.25s ease;
        }

        > input:focus,
        textarea:focus {
          border-bottom: 1px solid $dark;
        }

        > input:valid,
        textarea:valid {
          border-bottom: 1px solid rgb(35, 158, 35);
        }

        > button {
          @extend .button;
          width: max-content;
          padding: 0.75rem 2.5rem;
          background-color: $dark;
          border: unset;
          color: $light;
          display: flex;
          gap: 10px;
          align-items: center;

          &:hover {
            background-color: $dark-text;
          }
        }
      }
    }
  }
}
div.footer {
  width: 100%;
  padding: 50px 100px;
  background-color: $verydark;

  > div.footerBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light;
    font-family: $heading-font;
    font-size: 18px;
    font-weight: 500;

    > div {
      display: flex;

      > p {
        display: flex;
        align-items: center;

        > a {
          text-decoration: underline;
          color: $primary;

          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
