$main-font: Rubik;
$heading-font: Poppins;
$light: #dee3e4;
$darklight: #c8cdce;
$dark: #212529;
$verydark: #111418;
$dark-text: #4c4d4d;
$light-text: #6c757d;
$primary: #f5df4e;
$aboutBg: #f0f0f0;
$lightBg: #d8d8d8;
$widBg: #f8f9fa;
$lightLogo: #deb887;
$progressbg: #e9ecef;
$white: #fff;
$graybg: #939597;
$iconLightBg: #fafafa;

// button links
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: $dark;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

div.portfolioContainer {
  width: 100%;
  padding: 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  background-color: $aboutBg;

  > div.portfolioBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div.portfolioBodyTop {
      width: 100%;
      gap: 50px;

      > ul {
        justify-content: center;
        display: flex;
        align-items: center;
        list-style: none;
        font-weight: 600;

        > li {
          color: $dark-text;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          padding: 10px 10px;

          &:hover {
            border-color: $lightLogo;
          }

          &.portActive {
            color: $dark;
            border-color: $lightLogo;
          }
        }
      }
    }

    > div.portfolioBodyBottom {
      width: 100%;
      margin-top: 30px;

      > ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        > li {
          display: flex;
          position: relative;
          width: calc(33.33% - 30px);
          overflow: hidden;
          cursor: pointer;
          text-align: center;
          transition: all 0.15s ease;
          margin: 15px;

          &.portfolioHide {
            opacity: 0 !important;
            transform: scale(0) !important;
            width: 0 !important;
            margin: 0 !important;
          }

          &:hover img {
            filter: blur(2px);
            transform: scale(1.2);
          }

          &:hover div.porfolioItemAbsolute {
            opacity: 1;
          }

          > img {
            width: 100%;
            transition: all 0.25s ease;
            aspect-ratio: 1/1;
          }

          > div.porfolioItemAbsolute {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 0.25s ease;

            > i {
              font-style: normal;
              font-size: 40px;
              color: $lightLogo;
            }

            > h3 {
              margin-top: 15px;
              font-family: $heading-font;
              font-size: 22px;
              color: $white;
              font-weight: 500;
              line-height: 1;
            }

            > h4 {
              margin-top: 5px;
              line-height: 1;
              font-family: $heading-font;
              font-weight: 500;
              font-size: 18px;
              color: $light;
            }
          }
        }
      }
    }
  }
}

div.portfolioHire {
  width: 100%;
  position: relative;
  overflow: hidden;

  > img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(0.5);
  }

  > div.portfolioHContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 150px 100px;

    > h2 {
      font-size: 40px;
      font-family: $heading-font;
      color: $light;
    }

    > button {
      @extend .button;
      border: unset;
      transition: all 0.15s ease;
      &:hover {
        background-color: #b8a52f;
      }
    }
  }
}

@media (max-width: 1200px) {
  div.portfolioBodyBottom {
    > ul {
      > li {
        width: calc(50% - 20px) !important;
        margin: 10px !important;
      }
    }
  }
}

@media (max-width: 992px) {
  div.portfolioHContent {
    > h2 {
      font-size: 32px;
    }
  }
}
