$main-font: Rubik;
$heading-font: Poppins, Rubik;
$light: #dee3e4;
$darklight: #c8cdce;
$dark: #212529;
$verydark: #111418;
$dark-text: #4c4d4d;
$light-text: #6c757d;
$primary: #f5df4e;
$aboutBg: #f0f0f0;
$lightBg: #d8d8d8;
$widBg: #f8f9fa;
$lightLogo: #deb887;
$progressbg: #e9ecef;
$white: #fff;
$graybg: #939597;
$iconLightBg: #fafafa;

// button links
.button {
  padding: 0.75rem 2.25rem;
  text-decoration: none;
  color: $dark;
  background-color: $primary;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

div.resumeContainer {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $widBg;
  gap: 100px;

  > div.resumeBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    > div.resumeBodyTop {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;

      > div.rBTItems {
        width: 45%;
        color: $dark;

        > h3 {
          font-family: $heading-font;
          font-size: 24px;
          margin-bottom: 24px;
        }

        > div {
          border-left: 2px solid $lightLogo;
          padding: 20px 16px 0 16px;

          &.rtl {
            border-left: unset;
            border-right: 2px solid $lightLogo;
          }

          &:nth-of-type(1) {
            padding: 0 0 0 16px !important;
          }

          > h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 5px;
          }

          > h5 {
            font-size: 18px;
            margin-bottom: 10px;
            line-height: 1.6;
          }

          > p {
            font-size: 18px;
            padding-bottom: 20px;
            border-bottom: 1px solid $light-text;
            line-height: 1.6;
          }
        }
      }
    }

    > div.resumeBodyBottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $dark;

      > h3 {
        font-size: 24px;
        font-family: $heading-font;
      }

      div.skillsBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        font-family: $heading-font;

        > div.skillItem {
          width: 45%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          > div.skillHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
          }

          > div.skillBar {
            width: 100%;
            display: flex;
            border-radius: 999px;
            height: 8px;
            background-color: $progressbg;
            overflow: hidden;

            > span.skillProgress {
              background-color: $lightLogo;
              background-image: linear-gradient(
                -45deg,
                transparent 33%,
                rgba(255, 255, 255, 0.5) 33%,
                rgba(255, 255, 255, 0.5) 66%,
                transparent 66%,
                transparent 100%
              );
              background-size: 16px;
            }
          }
        }
      }

      > a {
        @extend .button;
        background-color: transparent;
        border: 1px solid $dark;
        width: max-content;
        margin: 30px auto 0 auto;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

        &:hover {
          color: $light;
          background-color: $dark;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  div.resumeBody {
    gap: 20px !important;

    > div.resumeBodyTop {
      gap: 30px;

      > div.rBTItems {
        width: 100% !important;
      }
    }
  }

  .button {
    font-size: 16px !important;
  }
}

@media (max-width: 576px) {
  div.rBTItems {
    > h3 {
      font-size: 22px !important;
    }

    > div {
      > h4 {
        font-size: 20px !important;
      }

      > h5,
      p {
        font-size: 16px !important;
      }
    }
  }
  div.skillsBar {
    justify-content: center !important;

    > div.skillItem {
      width: 90% !important;
    }
  }
}
